/*************************************
Natalie Durgin
January 8, 2015
Homepage CSS Template
*************************************/

body 
{
	margin: 20px 50px 20px 50px;
	padding: 0;
	background: #FFFFFF;
	font: normal small Arial, Helvetica, sans-serif;
	color:#000000;/*#6F4503*/
}

h1, h2, h4, h5, h6 
{
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	color:#000000;
}

h3 {
     color:#000000;
}

h1, h2, h3 {
}

h4, h5, h6 {
}

p, ul, ol, blockquote {
	margin-top: 0;
}

a {
     color: #363636;
}

a:hover {
     text-decoration: none;
}

img {
     border: none;
}

tr.row3 td {
    padding-bottom: 10px;
}
/*************************************
 Header
*************************************/

#header {
	margin: 5px 100px 5px 100px;
	padding: 5px;
	background: #FFFFFF;
	border: 2px solid #FFFFFF;
}

#header h1 { 
	text-align: center;
	font-size: 2em;
	margin: 5px 0px 0px 0px;
}

#header h2 {
	text-align: center;
	font-size: 1em;
	margin: 0px 0px 5px 0px;
}

#header a {
	text-decoration: none;
	color: #000000;
}

/*************************************
 Menu
*************************************/

#menu {
	margin: 0px 100px 0px 100px;
	padding: 10px;
	background: #FFFFFF /*#4E4E4E*/;
	border: 2px solid #000000;
	text-align: center;
}

#menu ul {
	display: inline;
	margin: 0px auto;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 10px 20px 10px 20px;
	text-align: center;
	text-decoration: none;
	color: #000000 /*#CCCCCC*/;
}

#menu a:hover, #menu .active a {
	background: #000000;
	color: #FFFFFF;
}


/************************************* 
Content 
*************************************/

#content {
	margin: 5px 100px 5px 100px;
	padding: 5px;
	background: #FFFFFF;
	border: 2px solid #000000;
}

#content .title {
	padding: 10px 20px;
	background: #000000 /*#4E4E4E*/;
	border: 2px solid #000000;
	font-size: 1em;
	color: #FFFFFF
}

#content .story {
	overflow: hidden;
}

#content h1 {
	text-align: left;
	font-size: 1.30em;
	color: #A00000;
}

#content p{
	text-align: left;
	margin: 20px
}

div.figure {
  float: right;
  border: 2px solid #000000;
  margin: 20px;
  padding: 5px;
}

div.figure p{
  text-align: center;
  font-size: small;
  text-indent: 0;
}

div.figure1 {
  text-align: center;
  font-size: small;
  text-indent: 0;
}

div.figure2 {
  float: right;
  margin: 0.7em;
  padding: 0.5em;
}

/*************************************
 Footer 
**************************************/

#footer {
	margin: 0px 100px 0px 100px;
	padding: 5px;
	background: #FFFFFF/*#8B4513*//*#996633*/;
	border: 2px solid #FFFFFF;
	color: #000000;
}

#footer p {
	margin: 0px auto;
	padding: 5px;
	font-size: x-small;
}

#footer p1 {
	margin: 0px auto;
	padding: 0px;
	font-size: x-small;
}

#footer a {
	color: #CCCCCC;
}
